*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#f5f5f5;

color:#111;

font-family:Inter;

}



header{

background:white;

border-bottom:3px solid black;

}



.topbar{

height:90px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 60px;

}



.logo{

font-family:Merriweather;

font-size:60px;

font-weight:700;

letter-spacing:-3px;

}



nav{

display:flex;

justify-content:center;

gap:40px;

padding:20px;

}



nav a{

color:black;

text-decoration:none;

font-weight:600;

}



main{

max-width:1500px;

margin:auto;

padding:40px;

display:grid;

grid-template-columns:

300px
1fr
320px;

gap:40px;

}



.main{

background:white;

padding:30px;

}



.main img{

width:100%;

}



.main h1{

font-family:Merriweather;

font-size:52px;

margin-top:25px;

line-height:1.2;

}



.main p{

margin-top:20px;

font-size:20px;

color:#555;

}



.sidebar{

display:flex;

flex-direction:column;

gap:20px;

}



.card{

background:white;

padding:15px;

}



.card img{

width:100%;

}



.card h2{

margin-top:15px;

font-size:24px;

line-height:1.4;

}



.flash{

background:white;

padding:25px;

}



.flash h3{

border-bottom:2px solid black;

padding-bottom:10px;

}



.flash ul{

list-style:none;

}



.flash li{

padding:15px 0;

border-bottom:1px solid #ddd;

}



@media(max-width:1000px){

main{

grid-template-columns:1fr;

}

}
